<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aggiungi ad Azienda</title>
  </head>
  <body>
    <p>
      L'utente <span th:text="${email}"></span> ha richiesto di essere aggiunto
      alla seguente azienda:
    </p>
    <p>
      <span th:text="${azienda.denominazione}"></span>
      <span th:text="${azienda.idFiscaleIVAPaese}"></span
      ><span th:text="${azienda.idFiscaleIVACodice}"></span>
    </p>
  </body>
</html>
