<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
  </head>
  <body>
    <p>
      È stata richiesta la reimpostazione della password per il tuo account.
    </p>
    <p>
      Se non sei stato tu a richieder la reimpostazione della password ignora
      questa email!
    </p>

    <p>
      Visita il seguente <a th:href="${token}" target="_blank">link</a> per
      resettare la tua password!
    </p>

    <p>Se non riesci ad accedere al link copia il link qui di sotto</p>

    <p th:text="${token}"></p>
  </body>
</html>
